<div class="container">
    <h1 class="text-center mb-5">Galería de Heranika</h1>
    
    <div class="row g-4">
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/sala-estar.jpg" class="img-fluid" alt="Sala de estar">
                <div class="gallery-caption">Sala de estar</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/cocina.jpg" class="img-fluid" alt="Cocina">
                <div class="gallery-caption">Cocina equipada</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/dormitorio.jpg" class="img-fluid" alt="Dormitorio">
                <div class="gallery-caption">Dormitorio principal</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/jardin.jpg" class="img-fluid" alt="Jardín">
                <div class="gallery-caption">Jardín</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/barbacoa.jpg" class="img-fluid" alt="Zona barbacoa">
                <div class="gallery-caption">Zona de barbacoa</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery-item">
                <img src="/images/vistas.jpg" class="img-fluid" alt="Vistas">
                <div class="gallery-caption">Vistas panorámicas</div>
            </div>
        </div>
    </div>
</div>