<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Heranika</h5>
                <p>Tu escapada perfecta en plena naturaleza. Disfruta de una experiencia única en nuestra casa rural.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/reservas">Reservas</a></li>
                    <li><a href="/opiniones">Opiniones</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Dirección de la casa rural</li>
                    <li><i class="fas fa-phone"></i> +34 XXX XXX XXX</li>
                    <li><i class="fas fa-envelope"></i> info@heranika.com</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Heranika. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>